<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
		<link rel="shortcut icon" href="images/favicon.png" type="image/png">
        
        <title>АДМIН - РЕЄСТР ПІДПРИЄМСТВ, ЩОДО ЯКИХ ПОРУШЕНО ПРОВАДЖЕННЯ У СПРАВІ ПРО БАНКРУТСТВО</title>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
		<link rel="stylesheet" href=" stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>
        
        
    </head>
    
    <body>
		<% include partials/navbar%>
		<br/> <br/> <br/> <br/>
		

		<div class="container">
			<div class="row justify-content-center">
				<h1>Вiтаємо, <%= data.username %></h1>
			</div>
			<div class="row justify-content-center">
				<h3>У вас є <b><%= data.references.length %></b> заявок на видачу довiдок </h3>
			</div>

			<br/>
			<div class="row justify-content-center mx-auto">
				<div class="col-md-8">
					<a href="/issuance_list" class="btn btn-outline-info btn-block btn-lg">Видача заявок</a>
				</div>
			</div> <br/>
			<div class="row justify-content-center mx-auto">
				<div class="col-md-8">
					<a href="/register_pb" class="btn btn-outline-success btn-block btn-lg">Реєстрацiя нових пiдприємств</a>
				</div>
			</div>
		</div>

	</body>
</html>