<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/favicon.png" type="image/png">

	<title>ВИДАЧА ЗАЯВОК - РЕЄСТР ПІДПРИЄМСТВ, ЩОДО ЯКИХ ПОРУШЕНО ПРОВАДЖЕННЯ У СПРАВІ ПРО БАНКРУТСТВО</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
	<link rel="stylesheet" href=" stylesheets/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>


</head>

<body>
	<% include partials/navbar%>
	<br /> <br /> <br /> <br />


	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th colspan="3">Запити:</th>
				</tr>
			</thead>
			<tbody>
				<% for (let ex of data) { %>
				<tr class="table-light">
					<td> <a href="/user/<%= ex.userId %>"> <%= ex.username%> </a> запитує довiдку про <a
							href="/pb/<%= ex.companyId%>"><%= ex.companyName%></a></td>
					<% if (ex.status == 'Waiting') { %>
					<td>
						<form method="post" action="/send_extract/<%= ex.extract_id %>">
							<input type='hidden' name='company' value='<%= ex.companyId %>'>
							<input type='hidden' name='user' value='<%= ex.userId %>'>
							<input type='hidden' name='date' value='<%= ex.date %>'>
							<button type="submit" class="btn btn-success">
								Приняти </button>
						</form>
					</td>
					<td> <a type="button" class="btn btn-danger" href='/reject_extract/<%= ex.extract_id %>'> Вiдхилити </a> </td>
					<% } else if(ex.status == 'Sended') { %>
					<td> Відправлено </td>
					<% } else { %>
					<td> Відхилено </td>
					<% } %>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>

</body>

</html>