<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/favicon.png" type="image/png">

	<title>*ПБ* - РЕЄСТР ПІДПРИЄМСТВ, ЩОДО ЯКИХ ПОРУШЕНО ПРОВАДЖЕННЯ У СПРАВІ ПРО БАНКРУТСТВО</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
	<link rel="stylesheet" href=" stylesheets/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>


</head>

<body>
	<% include partials/navbar%>
	<br /> <br /> <br /> <br />


	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th colspan="2"><%= data.name%></th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-light">
					<td>Код:</td>
					<td> <%= data.code%> </td>
				</tr>
				<tr class="table-light">
					<td>Адреса:</td>
					<td> <%= data.adress %> </td>
				</tr>
				<tr class="table-light">
					<td>Тип активiв :</td>
					<td> <%= data.activityType %> </td>
				</tr>
				<tr class="table-light">
					<td>Cтатус справи:</td>
					<td> <%= data.status %> </td>
				</tr>
			</tbody>
		</table>

		<% if (user.role == 'user') { %>
		<div class="row justify-content-center mx-auto">
			<div class="col-md-8">
				<a href='/get_issuance?id=<%= data.company_id %>&admin_id=<%= data.adminId %>&name=<%= data.name %>' class="btn btn-outline-info btn-block btn-lg">Замовити довiдку</a>
			</div>
		</div>
		<% } else if (user.role == 'admin') { %>
		<div class="row justify-content-center mx-auto">
			<div class="col-md-8">
				<a href="/update_pb/<%= data.company_id %>" class="btn btn-outline-warning btn-block btn-lg">Оновити інформацію</a>
			</div>
		</div>
		<% } %>

</body>

</html>