<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8">
		<link rel="shortcut icon" href="images/favicon.png" type="image/png">
        
        <title>РЕЄСТРАЦIЯ - РЕЄСТР ПІДПРИЄМСТВ, ЩОДО ЯКИХ ПОРУШЕНО ПРОВАДЖЕННЯ У СПРАВІ ПРО БАНКРУТСТВО</title>
        
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
		<link rel="stylesheet" href=" stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>
        
        
    </head>
    
    <body>
		<% include partials/navbar%>
		<br/> <br/>
		

		<div class="container">
			<div class="row">
				<div class="col-md-12 d-flex justify-content-center">
					<form method="post" action="/register">
						<fieldset>
							<h1 class="d-flex justify-content-center">Реєстрацiя</h1>
							<br/> <br/>
							<div class="form-group">
								<label for="inputName">Iм'я </label>
								<input type="text" class="form-control" id="inputName" name="name" placeholder="Enter name">
							</div>
							<div class="form-group">
								<label for="inputSurname" >Прізвище</label>
								<input type="text"  class="form-control" id="inputSurname" name="surname" placeholder="Enter surname">
							</div>
								<div class="form-group">
								<label for="inputUsername" >Username</label>
								<input type="text"  class="form-control" id="inputUsername" name="username" placeholder="Enter username">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Email</label>
								<input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
								<small id="emailHelp" class="form-text text-muted">Не хвилюйтесь, ми нiкому не розповiмо</small>
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1" >Пароль</label>
								<input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
							</div>
						</fieldset>
						<button type="submit" class="btn btn-primary btn-block"> Зареєструватись </button>
					</form>
					<%- locals.flash %>
				</div>
			</div>
		</div>

	</body>
</html>