<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/favicon.png" type="image/png">

	<title>ПОШУК - РЕЄСТР ПІДПРИЄМСТВ, ЩОДО ЯКИХ ПОРУШЕНО ПРОВАДЖЕННЯ У СПРАВІ ПРО БАНКРУТСТВО</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
	<link rel="stylesheet" href=" stylesheets/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>
	<script type="text/javascript" src="/scripts/table.js"></script>


</head>

<body>
	<% include partials/navbar%>
	<br /> <br /> <br /> <br />


	<div class="container">
		<form method="get" action="/search">
			<fieldset>
				<div class="row">
					<div class="offset-md-5 col-md-4">
						<legend>Пошук</legend>
					</div>
				</div>
				<fieldset class="form-group">
					<div class="row">
						<div class="offset-md-3 col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="option" value="name" checked="">
								За назвою
								</label>
							</div>
						</div>

						<div class="offset-md-1 col-md-3">
							<div class="form-check">
								<input type="radio" class="form-check-input" name="option" value="code">
								За номером справи
								</label>
							</div>
						</div>
					</div>
				</fieldset>
				<br />
				<div class="row">
					<div class="col-md-8 offset-md-2">
						<div class="form-group">
							<input name="request" type="text" class="form-control" id="inputValue"
								placeholder="Введiть запит..." required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="offset-md-5 col-md-4">
						<button type="submit" class="btn btn-primary">Пошук</button>
					</div>
				</div>
			</fieldset>

		</form>

		<table class="table table-hover table-striped">
			<thead class='thead-dark'>
				<tr>
					<th scope="col">Code</th>
					<th scope="col">Name</th>
				</tr>
			</thead>
			<tbody>
				<% for (let company of data) { %>
				<tr class='table-row' data-href='/pb/<%= company.company_id %>'>
					<th scope="row"><%= company.code %></th>
					<td><%= company.name %></td>
				</tr>
				<% } %>
			</tbody>
		</table>

	</div>

</body>

</html>