<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta charset="utf-8">
	<link rel="shortcut icon" href="images/favicon.png" type="image/png">

	<title>ОНОВЛЕННЯ ІНФОРМАЦІЇ - РЕЄСТР ПІДПРИЄМСТВ, ЩОДО ЯКИХ ПОРУШЕНО ПРОВАДЖЕННЯ У СПРАВІ ПРО БАНКРУТСТВО
	</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
	<link rel="stylesheet" href=" stylesheets/main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js?render=6LcyXYkUAAAAADvyjSiRS3lE_8Agvw9wpXQU5ffR'></script>


</head>

<body>
	<% include partials/navbar%>
	<br /> <br />

	<div class="container">
		<div class="row">
			<div class="col-md-12 d-flex justify-content-center">
				<form method='post' action='/update_pb/<%= data.company_id %>'>
					<fieldset>
						<h1 class="d-flex justify-content-center">Оновлення інформації</h1>
						<br /> <br />
						<div class="form-group">
							<label for="inputName">Назва </label>
							<input type="text" class="form-control" name='name' value=<%= data.name %> placeholder="Enter name" required>
						</div>
						<div class="form-group">
							<label for="inputCode">Код</label>
							<input type="number" class="form-control" name="code" value=<%= data.code %> placeholder="Enter code" required>
						</div>
						<label for="inputAddress">Адреса</label>
						<input type="text" class="form-control" name="adress" value=<%= data.adress %> placeholder="Enter address" required>
						<div class="form-group">
							<label for="inputType">Тип активiв</label>
							<input type="text" class="form-control" name="activityType" value=<%= data.activityType %> placeholder="Enter type" required>
						</div>
						<div class="form-group">
							<label for="inputStatus">Cтатус справи</label>
							<input type="text" class="form-control" name="status" value=<%= data.status %> placeholder="Enter status" required>
						</div>
					</fieldset>
					<button type="submit" class="btn btn-primary btn-block"> Оновити </button>
				</form>
			</div>
		</div>
	</div>

</body>

</html>