<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <% if (user.role == 'guest') { %>
            <li class="nav-item active">
                <a class="nav-link" href="/register">Реєстрація</a>
            </li>
            <% } %>
            <li class="nav-item active">
                <% if (user.role == 'admin'){ %> 
                <a class="nav-link" href="/admin">Профiль</a>
                <% } else if(user.role == 'user') { %>
                <a class="nav-link" href="/user/<%= user.user_id %>">Профiль</a>
                <% } %>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Пошук</a>
            </li>
        </ul>
        <% if (user.role != 'guest') { %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/logout">Вихiд</a>
            </li>
        </ul>
        <% } else { %>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Увійти</a>
            </li>
        </ul>
        <% } %>
    </div>
</nav>